* {
    margin: 0;
    left: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    max-width: 100vw;
    right: 0;
}

.container-fluid {
    margin: 0;
    left: 0;
    padding: 0;
    right: 0;
}

#sec1 {
    height: 100vh;
    max-width: 100vw;
}

#sec1_content {
    margin-left: 20%;
    z-index: 5;
}

#sec1_main {
    margin-top: 10%;
    z-index: 5;
}

.slogan {
    margin-right: 35%;
    color: rgb(250, 243, 243);
}

.slogan h1 {
    font-size: 3.5vw;
    margin-bottom: 3%;
}

.slogan p {
    font-size: 1.5vw;
    color: rgb(228, 214, 214);
    margin-bottom: 3%;
}

.sec1_btn {
    --width: 100%;
    --time: 0.5s;
    position: relative;
    display: inline-block;
    height: 2.5rem;
    padding: 0.5rem;
    border-radius: 8px;
    color: white;
    background: #0f117a;
    overflow: hidden;
}

.sec1_btn text {
    position: relative;
    z-index: 5;
    font-size: 16px;
    font-weight: bold;
    transition: color var(--time);
}

.sec1_btn span {
    position: absolute;
    display: block;
    content: "";
    z-index: 0;
    width: 0;
    height: 0;
    border-radius: 100%;
    background: #fff;
    transform: translate(-50%, -50%);
    transition: width var(--time), padding-top var(--time);
}

.sec1_btn:hover span {
    width: calc(var(--width) * 2.25);
    padding-top: calc(var(--width) * 2.25);
}

.sec1_btn.FLASH:hover text {
    color: white;
}

.sec1_btn.FLASH span {
    background: #fc5185;
}

.animated {
    --angle: 5deg;
    animation: shake 0.3s;
}

@keyframes shake {
    25% {
        transform: rotate(clac(var(--angle) * -1));
    }
    50% {
        transform: rotate(var(--angle));
    }
    100% {
        transform: rotate(0deg);
    }
}

.sec1_back {
    z-index: -5;
    position: absolute;
    max-height: 100vh;
    max-width: 100vw;
    width: 100vw;
}

.sec1_back_img img {
    z-index: -5;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
}

.sec1_img_inactive {
    display: none;
    /* opacity: 0; */
    transition: 0.5s ease-in;
}

.sec1_img_active {
    /* opacity: 1; */
    display: block;
    transition: 0.5s ease-in;
}

.overlay {
    background-color: black;
    opacity: 0.75;
    width: 99vw;
    max-width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 0;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

#sec2 {
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sec2_heading {
    padding: 2% 0;
}

.sec2_heading h1 {
    font-size: 4vw;
    font-weight: bolder;
}

.sec2_content {
    padding: 0 20%;
}

.sec2_head {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 3% 0;
}

.sec2_head h2 {
    color: rgb(165, 165, 165);
    font-size: 2vw;
    padding: 0 10% 0 0;
}

.fa-5x {
    color: rgb(165, 165, 165);
    font-size: 17.5vw;
}

.sec2_body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sec2_body_1,
#sec2_body_2,
#sec2_body_3 {
    padding: 5%;
}

#sec2_body_1 p,
#sec2_body_2 p,
#sec2_body_3 p {
    font-size: 1rem;
    text-align: center;
    color: rgb(118, 118, 119);
    padding: 0 0 5% 0;
}

.icon_center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icon_center i {
    color: #fff;
    font-size: 2.5rem;
    background-color: purple;
    padding: 7.5%;
    border-radius: 50%;
}

.icon_center h3 {
    padding: 7.5% 0 5% 0;
}

.icon_center p {
    font-size: 1.125rem;
}

hr {
    height: 10px;
    border-top: 5px solid rgba(0, 0, 0, 0.3);
}

#sec3 {
    padding: 1% 0;
    /* background-color: #96c8fb;
    background-image: linear-gradient(315deg, #96c8fb 0%, #ddbdfc 74%); */
}

.sec3_header h1 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    padding: 2.5% 0;
    color: white;
    text-shadow: 0px 2px 5px #0d324d;
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    text-align: center;
    width: 400px;
}

.card figure {
    margin: 0;
}

.card img {
    display: block;
    width: 100%;
    max-width: 100%;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}

.card :hover img {
    min-width: 100%;
    transform: scale(0.95);
}

.card-img-top {
    height: 300px;
}

.card-body {
    background-color: #42378f;
    background-image: linear-gradient(315deg, #42378f 0%, #f53844 74%);
}

.card-text {
    color: antiquewhite;
}

#sec4 {
    padding: 5% 0;
}

.sec4_head {
    padding: 5% 0;
}

.sec4_head h1 {
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
    color: rgb(95, 95, 95);
    text-shadow: 2px 2px 5px rgb(255, 50, 100);
}

.sec4_body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.table_1,
.table_2,
.table_3 {
    display: flex;
    justify-self: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 2% 3%;
    background-image: linear-gradient(-60deg, #7ee8fa, #eec0c6);
}

.table_1:hover,
.table_2:hover,
.table_3:hover {
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.table_1,
.table_2 {
    border-right: 5px solid red;
}

.table_1_heading h2,
.table_2_heading h2,
.table_3_heading h2 {
    color: rgb(109, 109, 109);
    font-weight: 700;
}

.table_1_subheading h3,
.table_2_subheading h3,
.table_3_subheading h3 {
    color: rgb(165, 165, 165);
    font-weight: 400;
}

.table_1_details,
.table_2_details,
.table_3_details {
    padding: 0 0 2% 0;
}

.table_1_details ul,
.table_2_details ul,
.table_3_details ul {
    text-align: center;
    list-style: none;
    padding: 0;
}

.buy {
    padding: 2% 5%;
    font: 1.5vw;
}

#sec5 {
    background: linear-gradient(60deg, rgb(71, 5, 116), cyan);
}

.sec5_head {
    padding: 5% 0;
}

.sec5_head h1 {
    text-align: center;
    color: beige;
    font-weight: 500;
}

.sec5_body {
    display: flex;
    justify-content: center;
    align-items: center;
    float: row;
    flex-wrap: wrap;
}

.sec5_body iframe {
    padding: 0 2% 5% 2%;
}

#sec6 {
    padding: 5% 0;
}

.sec6_head {
    padding: 0 0 2% 0;
}

.sec6_head h1 {
    font-size: 2.5vw;
    font-weight: 500;
    color: rgb(10, 0, 36);
    text-align: center;
}

.sec6_body {
    padding: 0 10%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
}

.sec6_body .members {
    padding: 1%;
}

.members_image {
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}

.img_overlay {
    opacity: 0;
    /* padding: 5% 0; */
    position: absolute;
    text-align: center;
    width: 128px;
    height: 128px;
    max-width: 100%;
    background: linear-gradient(#6e73fcb9, #ad1deba4);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.3s ease-in-out;
}

.img_overlay i {
    font-size: 25px;
    text-align: center;
    color: white;
    font-weight: bold;
}

#overlay1,
#overlay4 {
    margin-left: 23.6%;
}

#overlay2,
#overlay5 {
    margin-left: 46.3%;
}

#overlay3,
#overlay6 {
    margin-left: 68.2%;
}

.members_image_container:hover .img_overlay {
    opacity: 0.7;
    z-index: 500;
}

.members_image_container:hover .members_image {
    opacity: 0.8;
}

.members h2 {
    padding: 1% 0;
    text-align: center;
    font-weight: 400;
    font-size: 1.25vw;
}

.members p {
    text-align: center;
    font-size: 1vw;
}

#sec7 {
    background-color: #ffcfdf;
    background-image: linear-gradient(315deg, #ffcfdf 0%, #b0f3f1 74%);
    padding: 0;
    margin: 0;
    padding-bottom: 2%;
}

.sec7_head {
    text-align: center;
    padding: 3% 0;
}

.sec7_head h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.image_controller {
    position: absolute;
    margin-top: 15%;
    margin-left: 29.75%;
}

.image_controller button {
    background: transparent;
    border: none;
}

#controller_left,
#controller_right {
    cursor: pointer;
    font-weight: bolder;
    font-size: 2.5rem;
    color: rgb(255, 0, 0);
    transition: 0.3s ease-in-out;
}

#controller_right {
    right: 0;
    margin-left: 33rem;
}

#controller_left:hover,
#controller_right:hover {
    transform: scale(1.2);
    background-color: rgba(5, 16, 68, 0.5);
}

.gallery_image_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_image {
    display: none;
    /* box-shadow: 2px 2px -2px royalblue; */
    /* border: 2px solid royalblue; */
}

.main_image img {
    width: 502px;
    height: 501px;
    border: 2px solid royalblue;
}

.slider_gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 0 3% 0;
}

.slider_image img {
    width: 65px;
    height: 65px;
    padding: 1%;
}

.active {
    opacity: 0.5;
}

#sec8 {
    /* background-image: url("src\images\artur-kechter-QAp7VQOmcLE-unsplash.jpg"); */
    margin: 0;
}

.sec8_back {
    position: absolute;
    z-index: -5;
}

.sec8_back img {
    width: 99vw;
    height: 50vh;
    opacity: 0.8;
    max-width: 100vw;
}

.sec8_head {
    padding: 5% 0;
    z-index: 5;
    text-align: center;
}

.sec8_head h1 {
    font-weight: bold;
    font-size: 3.5rem;
    color: #fff;
}

.sec8_body {
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #sec8_eml {
    width: 0;
} */
.eml_inactive {
    width: 0;
    height: 0;
    display: none;
    transition: 1s ease-in-out;
}
.eml_active {
    width: 185px;
    height: 30px;
    display: flex;
    transition: 1s ease-in-out;
}

/* #sec8_submit{
    padding: 20%;
} */

.sec8_submit_btn {
    height: 50px;
    width: 100px;
    background: transparent;
    border: none;
}

.btn_inactive {
    background-color: rgb(202, 34, 5);
    height: 80px;
    width: 80px;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
}

.btn_active {
    height: 80px;
    background-color: cyan;
    border-right: 2px;
    transition: 0.5s ease-in;
}

#sec9 {
    padding: 10% 0 5% 0;
    margin-bottom: 2.5%;
}

.sec9_head {
    text-align: center;
}

.sec9_head h1 {
    font-size: 3.5rem;
    font-weight: bold;
    color: yellow;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.sec9_body {
    padding: 5% 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.blog {
    text-align: center;
}

.blog img {
    width: 200px;
    height: 250px;
    box-shadow: 0 4px 8px 0 rgba(108, 143, 43, 0.5),
        0 6px 20px 0 rgba(136, 153, 37, 0.5);
}

.blog_heading {
    padding: 1%;
}

.blog_heading h3 {
    font-size: 1.5rem;
}

.blog_date h4 {
    font-size: 1.25rem;
}

.blog_text {
    padding: 0 20%;
    text-align: center;
}

.blog_button button {
    border: none;
    cursor: pointer;
}

#sec10 {
    background-color: #f5f186;
    background-image: linear-gradient(315deg, #f5f186 0%, #9dfbc8 74%);
    padding: 0 0 2.5% 0;
}

.sec10_body {
    padding-top: 5%;
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    /* align-items: center; */
}

.map {
    height: 100%;
    padding: 0;
    margin: 0;
}

#googleMap {
    width: 30vw;
    height: 60vh;
}

.contactForm {
    text-align: center;
}

.contactForm form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.contactForm form label {
    margin-bottom: 2rem;
}

.contactForm form input {
    width: 15vw;
    padding: 2.5%;
}

.contactForm form textarea {
    padding: 2.5%;
}

.contactForm form button {
    border: none;
    transform: scale(1);
    transition: 0.2s ease-in;
    cursor: pointer;
    background-color: #08e1ae;
    padding: 0.5rem 1rem;
}

.contactForm form button:hover {
    transform: scale(1.05);
    background-color: #08e1ae;
    background-image: linear-gradient(-180deg, #08e1ae 0%, #98de5b 74%);
    transition: 0.2s ease-out;
}

footer {
    color: white;
    background-color: gray;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    padding: 3% 0 2% 0;
}

.address {
    padding: 0 1%;
}

.address_head {
    text-align: center;
    padding: 1% 5%;
}

.address_head h2 {
    font-size: 1.25rem;
}

.address_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.follow_body {
    display: grid;
    grid-template-columns: auto auto auto;
}

.follow_body i {
    padding: 0;
    text-align: center;
    margin-bottom: 20%;
    color: #fff;
    font-size: 1.5rem;
}

.contctus_body a p {
    color: whitesmoke;
}

#facebook:hover {
    background-color: #fff;
    transform: scale(1.25);
    transition: 0.2s ease-in;
    color: blue;
}

#google:hover {
    background-color: #fff;
    transform: scale(1.25);
    transition: 0.2s ease-in;
    color: red;
}

#twitter:hover {
    background-color: #fff;
    transform: scale(1.25);
    transition: 0.2s ease-in;
    color: #5da9dd;
}

#linkedin:hover {
    background-color: #fff;
    transform: scale(1.25);
    transition: 0.2s ease-in;
    color: #0077b5;
}

#instagram:hover {
    background-color: #fff;
    transform: scale(1.25);
    transition: 0.2s ease-in;
    color: rgb(182, 41, 182);
}

#twitch:hover {
    background-color: #fff;
    transform: scale(1.25);
    transition: 0.2s ease-in;
    color: #8e45f7;
}
